@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;500;600;700&display=swap');

/* font-family: 'Bai Jamjuree', sans-serif; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 400;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 3rem 5rem;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-5 {
  margin-top: 10rem;
}

.logo {
  cursor: pointer;
  width: 10%;
}

.heading-primary {
  color: hsl(210, 10%, 33%);
  font-size: 5rem;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
}

.heading-secondary {
  color: hsl(210, 10%, 33%);
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
}

.heading-tertiary {
  color: hsl(210, 10%, 33%);
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
}

.text {
  color: hsl(201, 11%, 66%);
  font-size: 2rem;
  line-height: 1.5;
  width: 70%;
  text-align: center;
  font-weight: 500;
}

.text-md {
  color: hsl(201, 11%, 66%);
  font-size: 2rem;
  line-height: 1.3;
  width: 55%;
  font-weight: 500;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 5rem;
}

.btn {
  display: inline-block;
  padding: 2rem 4rem;
  font-size: 2rem;
  font-weight: 500;
  border-radius: 50px;
  color: #fff;
  border: 1px solid #fff;
  box-shadow: inset 3px 6px 6px rgba(0, 0, 0, 0.07),
    inset 5px 10px 10px rgba(0, 0, 0, 0.06),
    inset 4px 8px 8px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease-in;
}

.btn:hover {
  box-shadow: 0 10px 10px 2px rgba(0, 0, 0, 0.06),
    0 8px 8px 3px rgba(0, 0, 0, 0.05);
  transform: translateY(-3px);
}

.btn-ios {
  background-color: hsl(171, 66%, 44%);
}

.btn-mac {
  background-color: hsl(233, 100%, 69%);
}

.search .container {
  max-width: 144rem;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;
}

.search-img {
  max-width: 100%;
  margin-left: -5rem;
}

.workflow-boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  max-width: 100%;
}

.workflow-boxes .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
}

.workflow-boxes .box .text-md {
  justify-self: start;
  line-height: 1.5;
  width: 100%;
}

.workflow-boxes .box .box-img {
  justify-self: start;
  width: 20%;
}

.brands .grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  gap: 3rem;
}

.footer {
  background-color: hsl(201, 11%, 66%, 0.2);
  padding: 1rem;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .footer-nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: space-between;
  align-items: center;
  column-gap: 5rem;
  row-gap: 1.5rem;
}

.footer-nav ul {
  list-style: none;
}

.footer .footer-nav ul a {
  color: hsl(210, 10%, 33%);
  line-height: 1.5;
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 1px;
}

.footer .logo {
  cursor: pointer;
  width: 5rem;
  height: 5rem;
}

.footer .social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  cursor: pointer;
}

.footer .social-icons img {
  transition: all 0.2s ease-out;
  height: 2rem;
}

.footer .social-icons img:hover {
  transform: translateY(-3px) scale(2);

  opacity: 0.7;
}

@media (max-width: 34em) {
  body {
    overflow-x: hidden;
  }
  .header .flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .btns {
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 2rem;
  }

  .btn {
    padding: 1.5rem;
    width: 100%;
  }

  .mt-5 {
    margin-top: 2rem;
  }

  .heading-primary {
    line-height: 1.1;
    font-size: 3rem;
    width: 100%;
  }

  .heading-secondary {
    font-size: 2.5rem;
    width: 100%;
  }

  .heading-tertiary {
    font-size: 1.8rem;
    width: 100%;
  }

  .text {
    font-size: 1.5rem;
  }

  .text-md {
    font-size: 1.3rem;
  }

  .track .text {
    width: 100%;
  }

  .search .flex-row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .search-img {
    margin: 0;
    width: 50%;
    padding: 2rem;
    text-align: center;
  }

  .search .flex-col {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .search .text-md {
    width: 100%;
  }

  .access .text {
    width: 100%;
  }

  .access .access-img {
    width: 70%;
  }

  .workflow .text {
    width: 100%;
  }

  .workflow-boxes {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .brands .grid {
    grid-template-columns: 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
  }

  .brands .brand-img {
    width: 30%;
  }

  .download .text {
    width: 100%;
  }

  .footer {
    overflow: hidden;
    padding: 0;
  }

  .footer .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    text-align: center;
  }

  .footer .footer-nav ul {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .footer-nav ul a {
    font-size: 1rem;
  }
}

@media (max-width: 57em) {
  .search .flex-row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .search-img {
    margin: 0;
    width: 50%;
    padding: 2rem;
    text-align: center;
  }

  .search .flex-col {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .search .text-md {
    width: 100%;
  }

  .access-img {
    width: 80%;
  }
}

@media (max-width: 64em) {
  .search .flex-row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .search-img {
    margin: 0;
    width: 50%;
    padding: 2rem;
    text-align: center;
  }

  .search .flex-col {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .search .text-md {
    width: 60%;
  }

  .access-img {
    width: 60%;
  }
}
