@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;500;600;700&display=swap');

/* font-family: 'Bai Jamjuree', sans-serif; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 400;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 3rem 5rem;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-5 {
  margin-top: 10rem;
}

.logo {
  width: 10%;
}

.heading-primary {
  color: hsl(210, 10%, 33%);
  font-size: 5rem;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
}

.heading-secondary {
  color: hsl(210, 10%, 33%);
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
}

.heading-tertiary {
  color: hsl(210, 10%, 33%);
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
}

.text {
  color: hsl(201, 11%, 66%);
  font-size: 2rem;
  line-height: 1.5;
  width: 70%;
  text-align: center;
  font-weight: 500;
}

.text-md {
  color: hsl(201, 11%, 66%);
  font-size: 2rem;
  line-height: 1.3;
  width: 55%;
  font-weight: 500;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 5rem;
}

.btn {
  display: inline-block;
  padding: 2rem 4rem;
  font-size: 2rem;
  font-weight: 500;
  border-radius: 50px;
  flex: 2 0 30rem;
  color: #fff;
  border: 1px solid #fff;
  box-shadow: inset 3px 6px 6px rgba(0, 0, 0, 0.07),
    inset 5px 10px 10px rgba(0, 0, 0, 0.06),
    inset 4px 8px 8px rgba(0, 0, 0, 0.05);
}

.btn-ios {
  background-color: hsl(171, 66%, 44%);
}

.btn-mac {
  background-color: hsl(233, 100%, 69%);
}

.search .container {
  max-width: 144rem;
}

.flex-row {
  display: flex;
  justify-content: space-between;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;
}

.search-img {
  max-width: 100%;
  margin-left: -5rem;
}
